{block content}
{control commandForm}
<div n:class="post">
	<span style="color: {$statusColor}")>
		<b>Status Code:{$statusCode}</b>
	</span>
</div>

<div n:class="post">{$CliOutput|breaklines}</div>


{/block}
