{block content}
    <h1 n:block="tile">News</h1>

    <a n:href="Post:create" n:if="$user->isInRole('admin')">Write new article</a>
    <br/>
    {foreach $posts as $post}

        <div class="row">
            <div class="col-lg-8">
                <h2>
                <a n:href="Post:show $post->getId()">{$post->getTitle()}</a>
                </h2>
                - {$post->getCreatedOn()|date:'F j, Y H:m'}
            </div>
        </div>

    {/foreach}
{/block}