{block content}
<link href="{$basePath}/css/signin.css" rel="stylesheet">

<h1 n:block=title>Sign In</h1>

{control signInForm}

{* OR
{import '../components/form.latte'}
{include form signInForm}
*}
<br/>
<p><a n:href="forgot">Forgot your password?</a></p>
<p><a n:href="up">Don't have an account yet? Sign up.</a></p>
